body {
    max-width: 800px;
    margin: auto;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}

img{
    width: 100%;
    margin: 0 auto;
}

a.btn01 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
    	font-family: serif;
	font-weight: bold;
	background-image: linear-gradient(to right, #d927a4 0%, #6c83eb 100%);
	border-radius: 100vh;
	color: #fff;
	border: 2px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: 0.5s;
    	margin-bottom: 20px;
}
a.btn01:hover {
	color: #fff;
	background-image: linear-gradient(to left, #27acd9 0%, #b4e12b 100%);
}
